################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/v16
/.vs
/src/Application/bin
/src/Application/obj
/src/Common/obj
/src/Common/bin
/src/Domain/obj
/src/Domain/bin
/src/Infrastructure/obj
/src/Infrastructure/bin

/src/Persistence/obj
/src/Persistence/bin

/src/WebApiAdmin/obj
/src/WebApiAdmin/bin
/src/WebApiAdmin/logs
/src/WebApiAdmin/Properties/PublishProfiles

/src/WebApiClient/obj
/src/WebApiClient/bin
/src/WebApiClient/logs
/src/WebApiClient/Properties/PublishProfiles

/src/WebApiAdmin/WebApiAdmin.csproj.user
/src/WebApiClient/WebApiClient.csproj.user

/src/WebApiAdmin/appsettings.rar
/src/WebApiClient/appsettings111.rar
/src/.vs/src/v16
/src/.vs/slnx.sqlite
/src/.vs/VSWorkspaceState.json
